In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('JC-201701-citibike-tripdata.csv')
df1.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [3]:
df1.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [4]:
df2 = pd.read_csv('JC-201702-citibike-tripdata.csv')
df2.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,435,2017-02-01 00:06:33,2017-02-01 00:13:49,3214,Essex Light Rail,40.712774,-74.036486,3199,Newport Pkwy,40.728745,-74.032108,24493,Subscriber,1988.0,1
1,779,2017-02-01 01:02:21,2017-02-01 01:15:21,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26232,Subscriber,1962.0,1
2,145,2017-02-01 01:56:05,2017-02-01 01:58:30,3211,Newark Ave,40.721525,-74.046305,3278,Monmouth and 6th,40.725685,-74.048790,24511,Subscriber,1972.0,1
3,184,2017-02-01 04:38:42,2017-02-01 04:41:46,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,24535,Subscriber,1983.0,1
4,197,2017-02-01 04:42:22,2017-02-01 04:45:39,3214,Essex Light Rail,40.712774,-74.036486,3183,Exchange Place,40.716247,-74.033459,26255,Subscriber,1963.0,1

In [5]:
df2.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,435,2017-02-01 00:06:33,2017-02-01 00:13:49,3214,Essex Light Rail,40.712774,-74.036486,3199,Newport Pkwy,40.728745,-74.032108,24493,Subscriber,1988.0,1
1,779,2017-02-01 01:02:21,2017-02-01 01:15:21,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26232,Subscriber,1962.0,1
2,145,2017-02-01 01:56:05,2017-02-01 01:58:30,3211,Newark Ave,40.721525,-74.046305,3278,Monmouth and 6th,40.725685,-74.048790,24511,Subscriber,1972.0,1
3,184,2017-02-01 04:38:42,2017-02-01 04:41:46,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,24535,Subscriber,1983.0,1
4,197,2017-02-01 04:42:22,2017-02-01 04:45:39,3214,Essex Light Rail,40.712774,-74.036486,3183,Exchange Place,40.716247,-74.033459,26255,Subscriber,1963.0,1

In [6]:
df3 = pd.read_csv('JC-201703-citibike-tripdata.csv')
df3.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,1076,2017-03-01 00:03:02,2017-03-01 00:20:58,3275,Columbus Drive,40.718355,-74.038914,3207,Oakland Ave,40.737604,-74.052478,26283,Subscriber,1991.0,1
1,978,2017-03-01 00:09:02,2017-03-01 00:25:20,3220,5 Corners Library,40.734961,-74.059503,3195,Sip Ave,40.730743,-74.063784,24559,Subscriber,1987.0,1
2,1789,2017-03-01 00:28:11,2017-03-01 00:58:00,3195,Sip Ave,40.730743,-74.063784,3186,Grove St PATH,40.719586,-74.043117,24559,Subscriber,1987.0,1
3,613,2017-03-01 00:52:30,2017-03-01 01:02:44,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26261,Subscriber,1962.0,1
4,2418,2017-03-01 00:54:40,2017-03-01 01:34:59,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26277,Subscriber,1975.0,1

In [7]:
df3.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1076,2017-03-01 00:03:02,2017-03-01 00:20:58,3275,Columbus Drive,40.718355,-74.038914,3207,Oakland Ave,40.737604,-74.052478,26283,Subscriber,1991.0,1
1,978,2017-03-01 00:09:02,2017-03-01 00:25:20,3220,5 Corners Library,40.734961,-74.059503,3195,Sip Ave,40.730743,-74.063784,24559,Subscriber,1987.0,1
2,1789,2017-03-01 00:28:11,2017-03-01 00:58:00,3195,Sip Ave,40.730743,-74.063784,3186,Grove St PATH,40.719586,-74.043117,24559,Subscriber,1987.0,1
3,613,2017-03-01 00:52:30,2017-03-01 01:02:44,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26261,Subscriber,1962.0,1
4,2418,2017-03-01 00:54:40,2017-03-01 01:34:59,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26277,Subscriber,1975.0,1

In [8]:
df4 = pd.read_csv('JC-201704-citibike-tripdata.csv')
df4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,252,2017-04-01 00:14:36,2017-04-01 00:18:48,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,26238,Subscriber,NaN,0
1,452,2017-04-01 00:15:47,2017-04-01 00:23:20,3203,Hamilton Park,40.727596,-74.044247,3213,Van Vorst Park,40.718489,-74.047727,26186,Subscriber,1962.0,1
2,465,2017-04-01 00:46:27,2017-04-01 00:54:13,3271,Danforth Light Rail,40.692640,-74.088012,3216,Columbia Park,40.697030,-74.096937,24659,Subscriber,1996.0,1
3,417,2017-04-01 00:47:15,2017-04-01 00:54:13,3271,Danforth Light Rail,40.692640,-74.088012,3216,Columbia Park,40.697030,-74.096937,24471,Subscriber,1994.0,1
4,391,2017-04-01 01:13:12,2017-04-01 01:19:44,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,24624,Subscriber,1983.0,1

In [9]:
df4.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,252,2017-04-01 00:14:36,2017-04-01 00:18:48,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,26238,Subscriber,NaN,0
1,452,2017-04-01 00:15:47,2017-04-01 00:23:20,3203,Hamilton Park,40.727596,-74.044247,3213,Van Vorst Park,40.718489,-74.047727,26186,Subscriber,1962.0,1
2,465,2017-04-01 00:46:27,2017-04-01 00:54:13,3271,Danforth Light Rail,40.692640,-74.088012,3216,Columbia Park,40.697030,-74.096937,24659,Subscriber,1996.0,1
3,417,2017-04-01 00:47:15,2017-04-01 00:54:13,3271,Danforth Light Rail,40.692640,-74.088012,3216,Columbia Park,40.697030,-74.096937,24471,Subscriber,1994.0,1
4,391,2017-04-01 01:13:12,2017-04-01 01:19:44,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,24624,Subscriber,1983.0,1

In [10]:
df5 = pd.read_csv('JC-201705-citibike-tripdata.csv')
df5.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,347,2017-05-01 00:03:19,2017-05-01 00:09:06,3276,Marin Light Rail,40.714584,-74.042817,3214,Essex Light Rail,40.712774,-74.036486,26177,Subscriber,1958.0,1
1,108,2017-05-01 00:16:04,2017-05-01 00:17:53,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26266,Subscriber,1963.0,1
2,165,2017-05-01 00:29:59,2017-05-01 00:32:44,3267,Morris Canal,40.712419,-74.038526,3275,Columbus Drive,40.718355,-74.038914,26168,Subscriber,1988.0,1
3,289,2017-05-01 00:30:47,2017-05-01 00:35:36,3209,Brunswick St,40.724176,-74.050656,3205,JC Medical Center,40.716540,-74.049638,26273,Subscriber,1986.0,2
4,115,2017-05-01 00:41:14,2017-05-01 00:43:09,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26293,Subscriber,1983.0,1

In [11]:
df5.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df5.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,347,2017-05-01 00:03:19,2017-05-01 00:09:06,3276,Marin Light Rail,40.714584,-74.042817,3214,Essex Light Rail,40.712774,-74.036486,26177,Subscriber,1958.0,1
1,108,2017-05-01 00:16:04,2017-05-01 00:17:53,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26266,Subscriber,1963.0,1
2,165,2017-05-01 00:29:59,2017-05-01 00:32:44,3267,Morris Canal,40.712419,-74.038526,3275,Columbus Drive,40.718355,-74.038914,26168,Subscriber,1988.0,1
3,289,2017-05-01 00:30:47,2017-05-01 00:35:36,3209,Brunswick St,40.724176,-74.050656,3205,JC Medical Center,40.716540,-74.049638,26273,Subscriber,1986.0,2
4,115,2017-05-01 00:41:14,2017-05-01 00:43:09,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26293,Subscriber,1983.0,1

In [12]:
df6 = pd.read_csv('JC-201706-citibike-tripdata.csv')
df6.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,29590,Subscriber,1979.0,1
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,3211,Newark Ave,40.721525,-74.046305,3277,Communipaw & Berry Lane,40.714358,-74.066611,29453,Subscriber,1969.0,1
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,3195,Sip Ave,40.730743,-74.063784,3189,West Side Light Rail,40.714402,-74.088772,26193,Subscriber,1962.0,1
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,29284,Subscriber,1983.0,1
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,3273,Manila & 1st,40.721651,-74.042884,3278,Monmouth and 6th,40.725685,-74.048790,29645,Subscriber,1980.0,2

In [13]:
df6.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df6.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,29590,Subscriber,1979.0,1
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,3211,Newark Ave,40.721525,-74.046305,3277,Communipaw & Berry Lane,40.714358,-74.066611,29453,Subscriber,1969.0,1
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,3195,Sip Ave,40.730743,-74.063784,3189,West Side Light Rail,40.714402,-74.088772,26193,Subscriber,1962.0,1
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,29284,Subscriber,1983.0,1
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,3273,Manila & 1st,40.721651,-74.042884,3278,Monmouth and 6th,40.725685,-74.048790,29645,Subscriber,1980.0,2

In [14]:
df7 = pd.read_csv('JC-201707-citibike-tripdata.csv')
df7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,340,2017-07-01 00:00:08,2017-07-01 00:05:48,3186,Grove St PATH,40.719586,-74.043117,3267,Morris Canal,40.712419,-74.038526,29643,Subscriber,1994.0,2
1,439,2017-07-01 00:02:35,2017-07-01 00:09:55,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29585,Subscriber,1980.0,1
2,186,2017-07-01 00:04:33,2017-07-01 00:07:40,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,29219,Subscriber,1984.0,1
3,442,2017-07-01 00:05:53,2017-07-01 00:13:15,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,29497,Subscriber,1969.0,1
4,170,2017-07-01 00:07:54,2017-07-01 00:10:45,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,29483,Subscriber,1986.0,1

In [15]:
df7.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,340,2017-07-01 00:00:08,2017-07-01 00:05:48,3186,Grove St PATH,40.719586,-74.043117,3267,Morris Canal,40.712419,-74.038526,29643,Subscriber,1994.0,2
1,439,2017-07-01 00:02:35,2017-07-01 00:09:55,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29585,Subscriber,1980.0,1
2,186,2017-07-01 00:04:33,2017-07-01 00:07:40,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,29219,Subscriber,1984.0,1
3,442,2017-07-01 00:05:53,2017-07-01 00:13:15,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,29497,Subscriber,1969.0,1
4,170,2017-07-01 00:07:54,2017-07-01 00:10:45,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,29483,Subscriber,1986.0,1

In [16]:
df8 = pd.read_csv('JC-201708-citibike-tripdata.csv')
df8.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1314,2017-08-01 00:03:05,2017-08-01 00:24:59,3187,Warren St,40.721124,-74.038051,3210,Pershing Field,40.742677,-74.051789,26293,Subscriber,1968.0,1
1,221,2017-08-01 00:06:25,2017-08-01 00:10:06,3213,Van Vorst Park,40.718489,-74.047727,3209,Brunswick St,40.724176,-74.050656,26314,Subscriber,1968.0,2
2,185,2017-08-01 00:42:28,2017-08-01 00:45:33,3211,Newark Ave,40.721525,-74.046305,3269,Brunswick & 6th,40.726012,-74.050389,26196,Subscriber,1972.0,1
3,72,2017-08-01 00:45:06,2017-08-01 00:46:18,3269,Brunswick & 6th,40.726012,-74.050389,3209,Brunswick St,40.724176,-74.050656,29521,Subscriber,1996.0,1
4,499,2017-08-01 01:12:10,2017-08-01 01:20:30,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,29634,Subscriber,1984.0,1

In [17]:
df8.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df8.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1314,2017-08-01 00:03:05,2017-08-01 00:24:59,3187,Warren St,40.721124,-74.038051,3210,Pershing Field,40.742677,-74.051789,26293,Subscriber,1968.0,1
1,221,2017-08-01 00:06:25,2017-08-01 00:10:06,3213,Van Vorst Park,40.718489,-74.047727,3209,Brunswick St,40.724176,-74.050656,26314,Subscriber,1968.0,2
2,185,2017-08-01 00:42:28,2017-08-01 00:45:33,3211,Newark Ave,40.721525,-74.046305,3269,Brunswick & 6th,40.726012,-74.050389,26196,Subscriber,1972.0,1
3,72,2017-08-01 00:45:06,2017-08-01 00:46:18,3269,Brunswick & 6th,40.726012,-74.050389,3209,Brunswick St,40.724176,-74.050656,29521,Subscriber,1996.0,1
4,499,2017-08-01 01:12:10,2017-08-01 01:20:30,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,29634,Subscriber,1984.0,1

In [18]:
df9 = pd.read_csv('JC-201709-citibike-tripdata.csv')
df9.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-09-01 00:02:01,2017-09-01 00:08:05,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29670,Subscriber,1989.0,1
1,357,2017-09-01 00:08:12,2017-09-01 00:14:09,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,26163,Subscriber,1980.0,1
2,432,2017-09-01 00:10:12,2017-09-01 00:17:24,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,26273,Subscriber,1988.0,1
3,934,2017-09-01 00:10:11,2017-09-01 00:25:46,3272,Jersey & 3rd,40.723332,-74.045953,3207,Oakland Ave,40.737604,-74.052478,26297,Subscriber,1991.0,1
4,932,2017-09-01 00:10:16,2017-09-01 00:25:48,3272,Jersey & 3rd,40.723332,-74.045953,3207,Oakland Ave,40.737604,-74.052478,29247,Subscriber,1993.0,2

In [19]:
df9.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df9.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-09-01 00:02:01,2017-09-01 00:08:05,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29670,Subscriber,1989.0,1
1,357,2017-09-01 00:08:12,2017-09-01 00:14:09,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,26163,Subscriber,1980.0,1
2,432,2017-09-01 00:10:12,2017-09-01 00:17:24,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,26273,Subscriber,1988.0,1
3,934,2017-09-01 00:10:11,2017-09-01 00:25:46,3272,Jersey & 3rd,40.723332,-74.045953,3207,Oakland Ave,40.737604,-74.052478,26297,Subscriber,1991.0,1
4,932,2017-09-01 00:10:16,2017-09-01 00:25:48,3272,Jersey & 3rd,40.723332,-74.045953,3207,Oakland Ave,40.737604,-74.052478,29247,Subscriber,1993.0,2

In [20]:
df10 = pd.read_csv('JC-201710-citibike-tripdata.csv')
df10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,410,2017-10-01 00:03:08,2017-10-01 00:09:59,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,26187,Subscriber,1976.0,1
1,412,2017-10-01 00:03:13,2017-10-01 00:10:06,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,31768,Subscriber,1975.0,2
2,274,2017-10-01 00:24:07,2017-10-01 00:28:42,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,26311,Subscriber,1979.0,1
3,2198,2017-10-01 00:31:03,2017-10-01 01:07:42,3199,Newport Pkwy,40.728745,-74.032108,3183,Exchange Place,40.716247,-74.033459,31709,Subscriber,1994.0,1
4,166,2017-10-01 00:34:09,2017-10-01 00:36:56,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,31759,Subscriber,1967.0,2

In [21]:
df10.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,410,2017-10-01 00:03:08,2017-10-01 00:09:59,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,26187,Subscriber,1976.0,1
1,412,2017-10-01 00:03:13,2017-10-01 00:10:06,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,31768,Subscriber,1975.0,2
2,274,2017-10-01 00:24:07,2017-10-01 00:28:42,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,26311,Subscriber,1979.0,1
3,2198,2017-10-01 00:31:03,2017-10-01 01:07:42,3199,Newport Pkwy,40.728745,-74.032108,3183,Exchange Place,40.716247,-74.033459,31709,Subscriber,1994.0,1
4,166,2017-10-01 00:34:09,2017-10-01 00:36:56,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,31759,Subscriber,1967.0,2

In [22]:
df11 = pd.read_csv('JC-201711-citibike-tripdata.csv')
df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,370,2017-11-01 00:04:26,2017-11-01 00:10:37,3199,Newport Pkwy,40.728745,-74.032108,3639,Harborside,40.719252,-74.034234,31817,Subscriber,1975.0,1
1,96,2017-11-01 00:05:45,2017-11-01 00:07:22,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,26307,Subscriber,1991.0,2
2,73,2017-11-01 00:09:49,2017-11-01 00:11:03,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,31864,Subscriber,1974.0,1
3,162,2017-11-01 00:14:04,2017-11-01 00:16:47,3275,Columbus Drive,40.718355,-74.038914,3184,Paulus Hook,40.714145,-74.033552,26314,Subscriber,1979.0,1
4,214,2017-11-01 00:23:38,2017-11-01 00:27:13,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,31772,Subscriber,1982.0,1

In [23]:
df11.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,370,2017-11-01 00:04:26,2017-11-01 00:10:37,3199,Newport Pkwy,40.728745,-74.032108,3639,Harborside,40.719252,-74.034234,31817,Subscriber,1975.0,1
1,96,2017-11-01 00:05:45,2017-11-01 00:07:22,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,26307,Subscriber,1991.0,2
2,73,2017-11-01 00:09:49,2017-11-01 00:11:03,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,31864,Subscriber,1974.0,1
3,162,2017-11-01 00:14:04,2017-11-01 00:16:47,3275,Columbus Drive,40.718355,-74.038914,3184,Paulus Hook,40.714145,-74.033552,26314,Subscriber,1979.0,1
4,214,2017-11-01 00:23:38,2017-11-01 00:27:13,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,31772,Subscriber,1982.0,1

In [24]:
df12 = pd.read_csv('JC-201712-citibike-tripdata.csv')
df12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,452,2017-12-01 00:00:59,2017-12-01 00:08:32,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29607,Subscriber,1988.0,1
1,159,2017-12-01 00:04:42,2017-12-01 00:07:21,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,26269,Subscriber,1992.0,1
2,175,2017-12-01 00:17:00,2017-12-01 00:19:55,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26269,Subscriber,1992.0,1
3,455,2017-12-01 00:50:22,2017-12-01 00:57:57,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,31929,Subscriber,1990.0,1
4,670,2017-12-01 00:55:03,2017-12-01 01:06:13,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26274,Subscriber,1962.0,1

In [25]:
df12.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bike ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,452,2017-12-01 00:00:59,2017-12-01 00:08:32,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29607,Subscriber,1988.0,1
1,159,2017-12-01 00:04:42,2017-12-01 00:07:21,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,26269,Subscriber,1992.0,1
2,175,2017-12-01 00:17:00,2017-12-01 00:19:55,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26269,Subscriber,1992.0,1
3,455,2017-12-01 00:50:22,2017-12-01 00:57:57,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,31929,Subscriber,1990.0,1
4,670,2017-12-01 00:55:03,2017-12-01 01:06:13,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26274,Subscriber,1962.0,1

In [26]:
citibike_2017 = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])
citibike_2017

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15893,972,2017-12-31 21:54:12,2017-12-31 22:10:25,3191,Union St,40.718211,-74.083639,3186,Grove St PATH,40.719586,-74.043117,29644,Subscriber,1987.0,2
15894,382,2017-12-31 22:10:18,2017-12-31 22:16:41,3280,Astor Place,40.719282,-74.071262,3268,Lafayette Park,40.713464,-74.062859,31799,Subscriber,1994.0,1
15895,93,2017-12-31 22:55:10,2017-12-31 22:56:43,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,31920,Subscriber,1957.0,1
15896,186,2017-12-31 23:20:54,2017-12-31 23:24:00,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,31925,Subscriber,1964.0,1
15897,422,2017-12-31 23:33:55,2017-12-31 23:40:57,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,31709,Subscriber,1979.0,1

In [27]:
citibike_2017.to_csv('citibike_2017.csv', sep = ',')